.abs-center {
  height: 80%;
  overflow-y: scroll;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.abs-center::-webkit-scrollbar {
  width: .5em;
}
.abs-center::-webkit-scrollbar-track {
  // -webkit-box-shadow: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background:auto;
  -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.abs-center::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  // outline: 1px solid slategrey;
}
.overlay-content-collapsed {
  visibility: hidden;
}
.overlay-content-open {
  visibility: visible;
  .overlay-heading {
    @include animate(font-size,0.2s,linear);
    font-size: 16px;
    @include media(">=tablet") {
      font-size: 20px;
    }
  }
}
.overlay {
  @include animate(background-color);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 15px !important;
  background-color: rgba(0, 0, 0, 0.2);
  .icon {
    @include animate(color);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    .overlay-heading {
      font-size: 28px;
    }
    .icon {
      color: rgba(66, 220, 163, .9);
    }
  }
}
.resume-wrapper {
  margin: 0 !important;
  background-image: url('../img/resume/resume-bg-2.jpg');
  background-position: center;
  background-size: auto 500px;
  height: 500px;
  width: 100%;
  @include animate(all);

  @include media(">=tablet") {
    background-size: auto;
    height: 640px;
    max-height: none;
  }

  .resume-block-base {
    vertical-align: top;
    position: relative;
    padding: 0;
    display: inline-block;
    // height: 500px;
    // height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    overflow: scroll;
    @include media(">=tablet") {
      height: 640px;
      max-height: none;
      float: left;
      border-right-color: rgba(255, 255, 255, 0.4);
    }
  }
  .resume-block {
    width: 100%;
    height: 33.3333333%;
    @include media (">=tablet") {
      width: 33.33333333%;
      height: 100%;
    }
    .service-box {
      display: none;
    }
    .overlay {
      .icon {
        display: block;
      }
    }
  }
  .resume-block-open {
    @include animate(all);
    height: 80%;
    width: 100%;
    @include media(">=tablet") {
      width: 80%;
      height: 100%;
    }
    .overlay {
      display: none;
    }
    .service-box {
      display: block;
      .content {
        padding: 20px 0;
        // background-color: rgba(0, 0, 0, 0.2);
        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }
  .resume-block-collapsed {
    height: 10%;
    width: 100%;
    @include media(">=tablet") {
      width: 10%;
      height: 100%;
    }
    .service-box {
      display: none;
    }
    .overlay-content-open {
      display: none;
    }
    .overlay-content-collapsed {
      visibility: visible;
    }
  }
}

.service-box {
  @include animate(all);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.35);
  margin: 0 !important;
  padding: 20px 30px;
  @include media(">=tablet") {
    height: 640px;
    max-height: none;
  }
  h4 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  p {
    color: rgb(255, 255, 255) !important;
    font-weight: 300 !important;
    font-size: 12px;
    padding: 0 30px;
    margin: 5px 0;
    @include media(">=tablet") {
      font-size: 14px;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.vertical-text {
  color: #fff;
  @include media(">=tablet") {
    transform: rotate(90deg);
  	transform-origin: left top 0;
    margin-left: 30px;
  }
}

.hidden {
  visibility: hidden;
}

.block {
  visibility: visible;
}

// .block-open {
//
// }

.text-white {
  color: #fff;
}

.mt-lg {
  margin-top: 30px;
}
.text-tiny {
  font-size: 12px !important;
}
.text-bigger {
  font-size: 16px !important;
}
.pb-0 {
  @include media("<tablet"){
    padding-bottom: 0;
  }
}
.me-desc {
  max-width: 620px;
  margin: 30px auto;
  font-size: 14px;
}
.project-category {
  font-weight: 300 !important;
}
.bg-blue {
  background-color: #2174e0;
}
.bg-hot-pink {
  background: -webkit-linear-gradient(top, #db4a7d, #ac2b58);
  background: linear-gradient(top, #db4a7d, #ac2b58);
}
.bg-shamrock {
  background-color: -webkit-linear-gradient(top, #1ad3bf, #11c36d);
  background-color: linear-gradient(top, #1ad3bf, #11c36d);
  p {
    color: #fff;
    font-weight: 300;
  }
}
.bg-yellow {
    background: -webkit-linear-gradient(top, #fbe659, #f7a10c);
    background: linear-gradient(top, #fbe659, #f7a10c);
}
.text-primary-light {
  color: #a0a0a0;
  padding: 0 20px;
  font-weight: 300;
  @include media(">=tablet") {
    padding: 0 40px;
  }
}
.contact {
  .contact-block {
    height: 100px;
    i {
      display: block;
    }
  }
}
