.overlay-content-collapsed {
  visibility: hidden;
}
.overlay-content-open {
  visibility: visible;
  .overlay-heading {
    @include animate(font-size,0.2s,linear);
    font-size: 20px;
  }
}
.overlay {
  @include animate(background-color);
  position: relative;
  width: 100%;
  min-height: 750px;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
    .overlay-heading {
      font-size: 28px;
    }
  }
}
.resume-wrapper {
  margin: 0 !important;
  background-image: url('../img/resume/resume-bg-2.jpg');
  min-height: 750px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  @include animate(all);

  .resume-block-base {
    float: left;
    position: relative;
    padding: 0;
    display: inline-block;
    min-height: 750px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    overflow: scroll;
  }
  .resume-block {
    width: 33.33333333%;

    .service-box {
      display: none;
    }

    .overlay {
      .icon {
        display: block;
      }
    }
  }
  .resume-block-open {
    @include animate(all);
    width: 80%;
    .overlay {
      display: none;
    }
    .service-box {
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
    }
    &:hover {
      cursor: pointer;
    }
  }
  .resume-block-collapsed {
    width: 10%;
    .service-box {
      display: none;
    }
    .overlay-content-open {
      display: none;
    }
    .overlay-content-collapsed {
      visibility: visible;
    }
  }
}

.service-box {
  @include animate(all);
  min-height: 750px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.15);
  margin: 0;
  padding: 20px 20px;
  h4 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  p {
    color: #fff !important;
    font-weight: 300 !important;
    font-size: 14px;
    padding: 0 30px;
  }
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  color: #fff;
  margin-left: 30px;
}

.hidden {
  visibility: hidden;
}

.block {
  visibility: visible;
}

// .block-open {
//
// }

.text-white {
  color: #fff;
}

.mt-lg {
  margin-top: 30px;
}

.hidden-sm {
  @include media("<tablet") {
    display: none;
  }
}
